body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #333;
  cursor: default;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

/*
 * Nav
 */

.navItem {
  font-weight: 300;
  cursor: pointer;
  z-index: 2;
}

.navItem.whyChooseUs {
  font-weight: 400;
}

/*
 * Secondary Nav
 */

.secondaryNavItem {
  cursor: pointer;
  z-index: 2;
}

/*
 * Home Intro
 */

.homeIntroHeader {
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
  white-space: nowrap;
}

.homeIntroHeader .introHeaderFuture {
  color: #F7070B;
}

.homeIntroText {
  font-size: 26px;
  font-weight: 300;
}

/*
 * Page
 */

.page {
  z-index: 1;
  overflow: auto;
}

.pageContent {
  margin: 0 auto;
  padding: 70px 0 150px 0;
  max-width: 1100px;
}

.pageIntro {
  font-weight: 500;
}

.portfolio-screenshot {
  width: 100%;
}
