/**/

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  font-size: 19px;
  color: #fff;
/*
  background: #000 url("/bg2.jpg") 50% 50%;
  background-size: cover;
*/


  background: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, rgba(223, 6, 255, 0.13)), color-stop(75%, rgba(223, 6, 255, 0)), color-stop(100%, rgba(180, 0, 255, 0.13))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 50% 75%, 0, 50% 75%, 70, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(70%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #165567), color-stop(100%, #010f34)), #010f34;
  background: -webkit-linear-gradient(right top, rgba(223, 6, 255, 0.13), rgba(223, 6, 255, 0) 75%, rgba(180, 0, 255, 0.13)), -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 75%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%), -webkit-linear-gradient(bottom, #165567, #010f34), #010f34;
  background: -moz-linear-gradient(right top, rgba(223, 6, 255, 0.13), rgba(223, 6, 255, 0) 75%, rgba(180, 0, 255, 0.13)), -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), -moz-radial-gradient(50% 75%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%), -moz-linear-gradient(bottom, #165567, #010f34), #010f34;
  background: -o-linear-gradient(right top, rgba(223, 6, 255, 0.13), rgba(223, 6, 255, 0) 75%, rgba(180, 0, 255, 0.13)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(50% 75%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%), -o-linear-gradient(bottom, #165567, #010f34), #010f34;
  background: linear-gradient(right top, rgba(223, 6, 255, 0.13), rgba(223, 6, 255, 0) 75%, rgba(180, 0, 255, 0.13)), linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 75%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 70%), linear-gradient(bottom, #165567, #010f34), #010f34;

}

b,
strong {
  font-weight: normal;
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);

  transition: 0.3s;
  -webkit-transition: 0.3s;
}

a:hover {
  border-color: #fff;
}

h1 {
  font-size: 32px;
  font-weight: 200;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.logo {
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 7;
  padding: 0 0 0 12px;
  width: 43px;
  height: 36px;

  /*text-indent: -1000px;*/
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  color: rgba(255,255,255,0.7);
  background: rgba(88,100,120,0.7);
  border: none;

  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.logo:hover {
  color: rgba(255,255,255,1);
  background: rgba(88,100,120,1);
}

.logo.subpage {
  left: 0;
}

.introHeader,
.introText {
  position: absolute;
  left: -1000px;

  transition: 1.6s;
  -webkit-transition: 1.6s;
}

.introHeader {
  max-width: 900px;
  font-size: 100px;
  font-weight: 100;
}

.introText {
  font-size: 26px;
  font-weight: 100;
  line-height: 1.5em;
  color: rgb(215,220,225);
}

.page.pageActive .introHeader {
  left: 6px;
}

.page.pageActive .introText {
  left: 76px;
}

.social {
  position: absolute;
  top: 550px;
  z-index: -1;

  font-size: 14px;
  color: #666;
  opacity: 0;

  transition: 1.6s;
  -webkit-transition: 1.6s;
}

.social.sociallyActive {
  opacity: 1;
  z-index: 4;
}

.navItem {
  position: absolute;
  z-index: 9;

  transition: 1.6s;
  -webkit-transition: 1.6s;
}

.navItem .navItemLinkWrapper {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: 10px;
  padding: 5px 0 3px 13px;
  width: 100%;
  height: 28px;

  font-weight: 100;
  font-size: 22px;

  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.navItem:hover .navItemLinkWrapper {
  margin-left: 0;
}

.navItemActive:hover .navItemLinkWrapper,
.navItemHasActive:hover .navItemLinkWrapper,
.navItemNext:hover .navItemLinkWrapper {
  margin-left: 10px;
}

.navItem .navItemBg {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(88,100,120,0.9);

  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.navItem:hover .navItemBg {
  left: 0;
}

.navItemActive .navItemLink,
.navItemActive .navItemLink:hover {
  border-color: transparent;
  cursor: default;
}

.navItemActive .navItemBg,
.navItemHasActive .navItemBg,
.navItemNext .navItemBg {
  left: 0;
}

.navItemNext .navItemBg {
  left: 0;
  background: rgba(31,41,82,1);
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 0;
  z-index: 1;
  overflow: scroll;

  padding: 100px 0;

  opacity: 0;
  /*background: #fff;*/

  transition: 1.2s;
  -webkit-transition: 1.2s;
}

.page.pageActive {
  opacity: 1;
  z-index: 2;
}

.secondaryNav {
  position: absolute;
  top: 50px;
  z-index: -1;

  width: 100%;
  opacity: 0;

  transition: 1.2s;
  -webkit-transition: 1.2s;
}

.secondaryNavActive {
  z-index: 8;

  opacity: 1;
}

.secondaryNavItem {
  position: absolute;
  width: 24.5%;
  height: 35px;

  transition: 1.2s;
  -webkit-transition: 1.2s;
}

.secondaryNavItem .secondaryNavItemLinkWrapper {
  display: block;
  width: 97%;
  padding-top: 6px;
  padding-left: 2%;
  height: 24px;
}

.secondaryNavItem .secondaryNavItemLinkWrapper:hover {
}

.secondaryNavItemActive .secondaryNavItemLinkWrapper {
  background: rgba(37,56,82,1);
  cursor: default;
}
